body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family:'Merriweather', serif;
}


h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 80px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    margin: 100px 0 0;
    padding: 50px 0 20px;
    
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bot-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.under-line {
    text-decoration: underline;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.profile-pic {
    width: 15%;
    margin: 0 auto;
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

a{
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
    color: white;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

/* body {
    background-color: #E4F9F5;
}

hr {
    background-color: #E4F9F5;
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 15%;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}

img:hover {
    background-color: red;
}

img {
    border-radius: 50%;
} */

/* CLASSES */

/* .dog {
    background-color: royalblue;
}

.cat {
    background-color: gold;
} */

